<div class="container-fluid mb-4 mt-3">
    <form id="formFooter" action="https://joinbox.today/form/6020cd995f36e300011d52c0/6040f3421d40240001fb1fee" method="post" autocomplete="off" name="formFooter">
    <div class="row justify-content-center">
        <div class="col-md-4 pr-md-0 pr-auto">
            <input class="custom-field form-control mb-3 py-4" style="width:100%;border:1px solid #343a40; padding:11px;border-radius: 0px;" id="cf_6020cd9d1d3a2c0001f289ab" name="cf_6020cd9d1d3a2c0001f289ab" type="text" data-fieldid="6020cd9d1d3a2c0001f289ab" placeholder="First Name" equired>
        </div>
        <div class="col-md-4 pr-md-0 pr-auto">
            <input style="width:100%;border:1px solid #343a40; padding:11px;border-radius: 0px;" id="cf_0" name="cf_0" type="email" class="required form-control mb-3 py-4" placeholder="Email Address" required>
        </div>
        <div class="col-md-4 align-self-center text-center">
            <button id="btnSubmit" class="btn btn-resources size1-3 px-5 source fw600 py-2 mb-3 w-100">Get Started!</button>
        </div>
    </div>
    </form>
</div>