<div class="container-fluid mb-4 mt-3 px-0">
    <form id="formSidebar" action="https://joinbox.today/form/6020cd995f36e300011d52c0/6040f38a1d40240001fb1fef" method="post" autocomplete="off" name="formSidebar">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <input class="custom-field form-control py-4" style="width:100%;border:1px solid #343a40;padding:11px;;border-radius: 0px;" id="cf_6020cd9d1d3a2c0001f289ab" name="cf_6020cd9d1d3a2c0001f289ab" type="text" data-fieldid="6020cd9d1d3a2c0001f289ab" placeholder="First Name" required>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-12">
            <input style="width:100%;border:1px solid #343a40;padding:11px;border-radius: 0px;" id="cf_0" name="cf_0" type="email" class="form-control required py-4" placeholder="Email Address" required>
        </div>
    </div>
    <div class="row justify-content-start mt-4">
        <div class="col-md-12 align-self-center text-center">
            <button id="btnSubmit" class="btn btn-resources size1 px-0 source fw600 py-2 w-100">Sign up!</button>
        </div>
    </div>
    </form>
</div>