---
layout: page
permalink: /about-me
title: About Easy Succulents
description: Easy Succulents is where over 10,000 beginners like you Learn How to Grow Healthy and Beautiful Succulents.
image: /assets/img/pages/about-me.jpg
---

{% include determine-author.html %}

<div class="container-fluid" id="aboutmebanner">
	<div class="row pt-3">
		<div class="col-12 col-md-7 offset-md-2 mt-5 pt-5">
			<h2 class="fw700 pb-3">Welcome to Easy Succulents!</h2>
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-12 col-md-5 offset-md-2 mt-3 ">
			<p class="f1"><span class="size1-4">Succulents are my passion! I love growing them, propagating them, and most recently... writing about them. These plants are amazing and have more to them than people think! </span></p>
		</div>
	</div>
	<div class="row pb-5">
		<div class="col-7 col-md-2 offset-md-2 mt-3 mb-3 pb-0">
			<img src="{{site.baseurl}}/assets/img/signatures/jimena.svg" alt="Jimena Signature" class="img-fluid">
		</div>
	</div>
</div>


<!-- BEGIN Flecha -->
<div style="height: 5px; background-color: #E0DED1; text-align: center;"></div>
<div style="text-align:center">
<a href="#question1"><img src="{{site.baseurl}}/assets/img/icons/arrowdown.svg" alt="Arrow Down Red" style="width: 40px; margin-top: -30px; cursor:pointer;"></a>
</div>
<!-- FIN Flecha -->

<div class="container pt-5" id="question1">
	<div class="row">
		<div class="col-md-4">
			<h3 class="fw600">Who I am?</h3>
		</div>
		<div class="col-md-8">
			<p class="f1">Welcome! My name is Jimena and I'm the founder of Easy Succulents. When I was a little girl I remember that my older sister bought an Aloe Vera plant. For some reason I was so fascinated by that spiky little plant.</p>
			<p class="f1">Ever since I've been a Succulent fanatic! I love growing Succulents (not just Aloe Vera!), I grow them, nurture them, propagate them, and most importantly for you... I love writing about Succulents!</p>
			<p class="f1">I know how hard it is to find good information online about Succulents. So I decided to create a blog where I share my experience with all the types of Succulents that I'm currently growing and hopefully, be able to help as many people benefit from these awesome plants!</p>
		</div>
	</div>
</div>

<div style="height: 5px; background-color: #B5C9C3; text-align: center;"></div>
<div class="container-fluid" style="background-color: #F0EDE5;">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h3 class="pt-5 fw600 text-center pb-2">Join our Email List!</h3>
			<p class="f1 text-center">My most engaged readers come through my email list. And for good reason! I share special tips and info that I don't share anywhere else. You can unsubscribe at any time, but almost everybody does. We must be doing something right!</p>
		</div>
	</div>
	<div class="row justify-content-center pb-4">
		<div class="col-md-4">
			<div class="pl-md-0 pt-3"><script async data-uid="cf38385b1e" src="https://skilled--3219.ck.page/cf38385b1e/index.js"></script></div>
		</div>
	</div>
</div>
<div style="height: 5px; background-color: #FDCBC4; text-align: center;"></div>

<div class="container pt-5 pb-4">
	<div class="row pt-3">
		<div class="col-md-4">
			<h3 class="fw600">Learn With Me!</h3>
		</div>
		<div class="col-md-8">
			<p class="f1">I've spent so much time learning how to grow Succulents the right way (the best soil, how much light they need, the best -and easiest- Succulent types depending on the weather, etc.) that I want to share everything I've learnt with the world.</p>
			<p class="f1"><b>This blog has all the information you could possibly need to start growing your Succulents like a pro. Don't make the mistakes I did! You'll learn first hand how to grow succulents the right way!</p>
			<p class="f1">These are a couple of resources to get started in my blog. I hope you like them!</p>
			<!-- <div class="row">
				<div class="col-md-4 pr-5">
					<a href="{{site.baseurl}}/start-here">
						
					</a>
				</div>
				<div class="col-md-8">
					<h4 class="f1"><b><a href="{{site.baseurl}}/start-here">Start Here</a></b></h4>
					<p class="f1">This is the one page you must read if you're new to the blog! It explains 3 things: 1. Learn how to plant and take care of your Succulents. 2. Discover the Awesome Benefits that some Succulents have. 3. Discover how to propagate them, etc. If you haven't read this page, just <a href="{{site.baseurl}}/start-here">read it now</a>!</p>
				</div>
			</div> -->
			<div class="row pt-4">
				<div class="col-md-4 pr-5">
					<a href="{{site.baseurl}}/blog">
						{% responsive_image_block %}
							template: _includes/responsive-image-grey-shadow.html
							path: assets/img/pages/blog.jpg
							alt: About me - Easy Succulents
						{% endresponsive_image_block %}
					</a>
				</div>
				<div class="col-md-8">
					<h4 class="f1"><b><a href="{{site.baseurl}}/blog">My Blog</a></b></h4>
					<p class="f1">If you want to find all the information I've ever published in "Easy Succulents", this is the place to go. I love it because you can filter by categories and tags. It's just very useful! So be sure to <a href="{{site.baseurl}}/blog">check it out!</a></p>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-md-4 pr-5">
					<a href="{{site.baseurl}}/recommended-products">
						{% responsive_image_block %}
							template: _includes/responsive-image-grey-shadow.html
							path: assets/img/pages/recommended-products.jpg
							alt: Recommended Products Easy Succulents
						{% endresponsive_image_block %}
					</a>
				</div>
				<div class="col-md-8">
					<h4 class="f1"><b><a href="{{site.baseurl}}/recommended-products">Recommended Products</a></b></h4>
					<p class="f1">This page contains the Succulent products that I personally use and love. I don't add anything to the list unless I've used it for a long time and can vouch for it personally. <a href="{{site.baseurl}}/recommended-products">Check them out now!</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="height: 5px; background-color: #FDCBC4; text-align: center;"></div>

<div class="container pt-5">
	<div class="row pt-3">
		<div class="col-md-4">
			<h3 class="fw600">Contact Us!</h3>
		</div>
		<div class="col-md-8">
			<p class="f1">The best thing about starting a blog is getting to know my readers. I'm thrilled that you're here! If there's anything I can do for you, or if you just want to say hi, let me know! We are also looking for anyone who wants to showcase their Aloe pictures on our blog or for people looking to write guest posts on our blog. Don't be shy and <a href="{{site.baseurl}}/contact">say hi</a>!</p>
			{% include post-signature.html author=author.name position=author.position description=author.description picture=author.picture %}
		</div>
	</div>
</div>