---
layout: page
permalink: /start-here
title: Start Here
description: 
image: /assets/img/pages/start-here.jpg
---
<div class="container-fluid" id="startherebanner" style="-webkit-box-shadow:inset 0px -20px 0px 0px #fff; -moz-box-shadow:inset 0px -20px 0px 0px #fff;  box-shadow:inset 0px -20px 0px 0px #fff;">
	<div class="row justify-content-start">
		<div class="col-md-7 offset-md-1">
			<div class="row mt-0 mt-md-5">
				<div class="col-md-9 px-5 py-4 mt-0 mt-md-5" style="background-color: white; border-left: 15px solid #CFDAA6">
					<h1 class="lh1-5 size1-9 fw600"><i><span class="size1-4 fw500">My most</span></i><br>Start Here</h1>
					<p class="axiforma fw400 lh1-7 size1-1 pt-2 mb-0">Growing Succulents is an awesome experience. Their amazing properties are just 3 steps away. Keep reading to get started the right way!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div style="height: 5px; background-color: #E0DED1; text-align: center;"></div>
<div style="text-align:center">
<a href="#book1"><img src="{{site.baseurl}}/assets/img/icons/arrowdown.svg" alt="Arrow Down Red" style="width: 40px; margin-top: -30px; cursor:pointer;"></a>
</div> -->

<div class="container mt-5 pb-3">
	<div class="row justify-content-center pb-4">
		<div class="col-md-11" id="book1">
			<h2 class="fw700 size1-7 mt-0 pt-5 pb-4"><span class="number">1.</span> Learn how to plant and take care of your Aloe Plant</h2>
			<p class="f1">If you want to get started with Aloe, the first thing you want to do is quite simple... you must have an Aloe plant! But which one? There are multiple types of Aloe, and they each have different benefits. You also need to know how to take care of your plant so that it's always healthy and providing value to you! These 2 ebooks will help you do precisely that:</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-3 col-10">
			<a href="{{site.baseurl}}/books">
				{% responsive_image_block %}
					template: _includes/responsive-image-grey-shadow.html
					path: assets/img/pages/home/book.jpg
					alt: How to Grow Aloe Vera in 5 Steps
				{% endresponsive_image_block %}
			</a>
		</div>
		<div class="col-md-8 pl-md-5 text-center text-md-left">
			<h4 class="f1 text-center text-md-left pt-4 pt-md-1"><b><a href="{{site.baseurl}}/books">How to Grow Aloe Vera in 5 Steps</a></b></h4>
			<p class="f1">This is first one of my ebooks you should be reading if you don't yet own an Aloe Vera plant. Because many people don't know this... but taking care of the plant the right way from the very beginning is crucial. This ebook will teach you how to Grow Aloe Vera the Right Way. In 5 Easy Steps!</p>
			<a href="{{site.baseurl}}/books">
				<button class="btn btn-resources mt-3 size1-3 px-5 fw600 ls0-03">Download Ebook Now!</button>
			</a>
		</div>
	</div>
	<div class="row justify-content-center pt-5">
		<div class="col-md-3 col-10">
			<a href="{{site.baseurl}}/books">
				{% responsive_image_block %}
					template: _includes/responsive-image-grey-shadow.html
					path: assets/img/pages/home/book.jpg
					alt: Types of Aloe and their benefit
				{% endresponsive_image_block %}
			</a>
		</div>
		<div class="col-md-8 pl-md-5 text-center text-md-left">
			<h4 class="f1 text-center text-md-left pt-4 pt-md-1"><b><a href="{{site.baseurl}}/books">Types of Aloe and their benefits</a></b></h4>
			<p class="f1">There are sooooo many types of Aloe. It's unbelieveable that people don't know about them! Sure, Aloe Vera is amazing. But of the dozens and dozens of aloe species, some are extremely interesting (even better than Aloe!). In this ebook I've selected 4 other types of Aloe that I think everybody should know about. Up your Aloe Game now!</p>
			<a href="{{site.baseurl}}/books">
				<button class="btn btn-resources mt-3 size1-3 px-5 fw600 ls0-03">Download Ebook Now!</button>
			</a>
		</div>
	</div>
</div>



<div style="background-color: #ECF1DC">
<div class="container mt-5 pb-3" style="background-color: #ECF1DC" id="step-2">
	<div class="row justify-content-center pb-4">
		<div class="col-md-11">
			<h2 class="fw700 size1-7 mt-0 pt-5 pb-4"><span class="number">2. </span>Discover the 12 Awesome Benefits of Aloe</h2>
			<p class="f1">Most people think that Aloe is just good for sunburns, but let me tell you... It's a lot more than that! Many people don't even know it... but they're missing out on some of the coolest properties of Aloe Vera. In my ebook <b>Discover the 12 Awesome Benefits of Aloe</b> I explain all the benefits that Aloe has and why YOU should care.</p>
			<p class="f1">Spoiler alert... most people don't haven't even heard about benefit #7 and #10!</p>
			<p class="f1">Download while it's still free:</p>
			<div class="pt-3"><script async data-uid="cf38385b1e" src="https://skilled--3219.ck.page/cf38385b1e/index.js"></script></div>
		</div>
	</div>
</div>
</div>

<div class="container mt-5 pb-3">
	<div class="row justify-content-center pb-4">
		<div class="col-md-11">
			<h2 class="fw700 size1-7 mt-0 pt-5 pb-4"><span class="number">3.</span> Discover how to use aloe vera for your body, skin, etc.</h2>
			<p class="f1">Last but not least, it's time to start using your Aloe Plant! This is going to be so much fun, you'll see! There're so many things that you can do with Aloe... for your hair, for your body, for your skin... you name it! You will love these miracle recipes!</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-3 col-10">
			<a href="{{site.baseurl}}/books">
				{% responsive_image_block %}
					template: _includes/responsive-image-grey-shadow.html
					path: assets/img/pages/home/book.jpg
					alt: Aloe Vera for your Skin & Body
				{% endresponsive_image_block %}
			</a>
		</div>
		<div class="col-md-8 pl-md-5 text-center text-md-left">
			<h4 class="f1 text-center text-md-left pt-4 pt-md-1"><b><a href="{{site.baseurl}}/books">Aloe Vera for your Skin & Body</a></b></h4>
			<p class="f1">Most of us know that Aloe Vera is amazing for your body and skin. But are you applying it correctly? Did you know that it should be applied differently depending on where you're applying it? Check out more in this awesome ebook!</p>
			<a href="{{site.baseurl}}/books">
				<button class="btn btn-resources mt-3 size1-3 px-5 fw600 ls0-03">Download Ebook Now!</button>
			</a>
		</div>
	</div>
	<div class="row justify-content-center pt-5">
		<div class="col-md-3 col-10">
			<a href="{{site.baseurl}}/books">
				{% responsive_image_block %}
					template: _includes/responsive-image-grey-shadow.html
					path: assets/img/pages/home/book.jpg
					alt: 9 Amazing Products to make with Aloe
				{% endresponsive_image_block %}
			</a>
		</div>
		<div class="col-md-8 pl-md-5 text-center text-md-left">
			<h4 class="f1 text-center text-md-left pt-4 pt-md-1"><b><a href="{{site.baseurl}}/books">9 Amazing Products to mix with Aloe</a></b></h4>
			<p class="f1">Many people don't know this, but Aloe Vera can (and should!) be mixed with other products. Doing this makes these products tastier, and healthier. Once you find about these products and the recipes on How to Mix them, there's no going back. You'll love this ebook!</p>
			<a href="{{site.baseurl}}/books">
				<button class="btn btn-resources mt-3 size1-3 px-5 fw600 ls0-03">Download Ebook Now!</button>
			</a>
		</div>
	</div>
	<div class="row justify-content-center pt-5">
		<div class="col-md-3 col-10">
			<a href="{{site.baseurl}}/books">
				{% responsive_image_block %}
					template: _includes/responsive-image-grey-shadow.html
					path: assets/img/pages/home/book.jpg
					alt: Aloe Vera Recipies for your Hair
				{% endresponsive_image_block %}
			</a>
		</div>
		<div class="col-md-8 pl-md-5 text-center text-md-left">
			<h4 class="f1 text-center text-md-left pt-4 pt-md-1"><b><a href="{{site.baseurl}}/books">The Best 15 Aloe Vera Recipies for You!</a></b></h4>
			<p class="f1">In this ebook I go through the 15 recipes that I used the most and that have proven to work best! And they're easy and fast too! If you want to save weeks and weeks coming out with Aloe recipes that actually work, get this ebook now and get it right the first time!</p>
			<a href="{{site.baseurl}}/books">
				<button class="btn btn-resources mt-3 size1-3 px-5 fw600 ls0-03">Download Ebook Now!</button>
			</a>
		</div>
	</div>
</div>

<div class="container mt-5 pb-3">
	<div class="row justify-content-center pb-4">
		<div class="col-md-11">
			<h2 class="fw700 size1-7 mt-0 pt-5 pb-4 text-center">What's next?</h2>
			<p class="f1">Now that you've covered the 3 basic steps to starting with Aloe Vera, perhaps you'd like to read my latest posts on all types of Aloe. And if you'd like to read more, head to the <a href="{{site.baseurl}}/blog">blog</a> section. There you'll find all the posts I've ever written in this blog!</p>
		</div>
	</div>
</div>
<div class="container pb-4">
	<div class="row justify-content-center">
		{% assign latest = site.posts  | sort: 'date' | reverse%}
		{% for post in latest limit:4 offset:0 %}
			{% include post-column-list.html post=post columns=4 %}
		{% endfor %}
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="{{site.baseurl}}/blog"><button class="btn btn-resources mt-3 size1-5 px-5">Load More</button></a>
		</div>
	</div>
</div>